# Ne pas versionner les variables d'environnement
.env
.env.backend
.env.frontend

# Ne pas versionner les dossier générés par les dépendances
**/node_modules/

# A rajouter si besoin, les fichiers ou dossiers à ignorer
apps/backend/src/middlewares/errorHandler.ts
apps/backend/src/middlewares/notFound.ts