@import "tailwindcss";

:root {
  --color-1: #cb3346;
  --color-2: #e4e4e7;
  --color-3: #0ea5e9;
  --color-text-visitor: #ffffff;
  --color-bg-visitor: black;
  --color-bg-admin: #ffffff;
  --color-text-admin: black;
  --color-bg-input: #e4e4e7;
  --color-text-input: #47474f;
}

:root[data-theme="admin"] {
  --color-text: var(--color-text-admin);
  --color-bg: var(--color-bg-admin);
}

:root[data-theme="visitor"] {
  --color-text: var(--color-text-visitor);
  --color-bg: var(--color-bg-visitor);
}

:root {
  --anim-btn-transition: "transform";
  --anim-btn-duration: 200ms;
  --anim-btn-scale: 1.1;
}

:root {
  --spacing-container-modal: 1.5rem; /*-6*/
  --spacing-paraf-modal: 1rem; /*-4*/

  --spacing-padding-input-x: 0.75rem; /*-3*/
  --spacing-padding-input-y: 0.5rem; /*-2*/

  --spacing-section-page-x: 1.5rem; /*-6*/
  --spacing-mobil-section-page-y: 2.5rem; /*-10*/
  --spacing-desktop-section-page-y: 2.5rem; /*-10*/
}

:root {
  --font-family-input: Arial, sans-serif;
}

@layer components {
  .title1 {
    @apply text-center text-4xl md:text-8xl font-black uppercase mb-12 md:text-8xl;
  }
  .title-modal {
    @apply text-center text-4xl font-black;
  }

  .nav-list {
    @apply flex items-center gap-(--spacing-container-modal) tracking-wide;
  }

  .btn-cta {
    @apply text-white inline-flex rounded bg-(--color-1) px-5 py-1 text-(--color-text) transition-(--anim-btn-transition) duration-(--anim-btn-duration) disabled:cursor-not-allowed disabled:opacity-60;
  }
  .btn-cta:hover {
    @apply scale-(--anim-btn-scale);
  }

  .btn-type-2 {
    @apply transition-opacity hover:opacity-70;
  }

  .mobil-menu {
    @apply border border-(--color-text-input) inline-flex rounded bg-(--color-2) px-2 py-1 text-(--color-text) transition-(--anim-btn-transition) duration-(--anim-btn-duration);
  }
  .mobil-menu:hover {
    @apply scale-(--anim-btn-scale);
  }

  .modal-overlay {
    @apply fixed inset-0 flex items-center justify-center pt-20 bg-gray-400/30;
  }
  .modal {
    @apply w-4xl rounded-2xl bg-[#fbfbfb] text-[#111111] outline-none pt-3 pb-3;
  }

  .form-modal {
    @apply mt-4 space-y-4;
  }
  .input {
    @apply w-full rounded-md border border-(--color-text-input) bg-(--color-bg-input) px-(--spacing-padding-input-x) py-(--spacing-padding-input-y) text-sm placeholder:text-(--color-text-input);
    font-family: var(--font-family-input);
  }
  .text-area {
    @apply h-56 w-full resize-none rounded-md border border-(--color-text-input) bg-(--color-bg-input) px-(--spacing-padding-input-x) py-(--spacing-padding-input-y) text-sm placeholder:text-(--color-text-input) md:h-44;
    font-family: var(--font-family-input);
  }
  .submit-modal-area {
    @apply flex justify-center pt-1;
  }

  .section-page {
    @apply w-full h-full py-(--spacing-mobil-section-page-y) md:py-(--spacing-desktop-section-page-y) px-(--spacing-section-page-x) md:px-0;
  }
}
