@import "tailwindcss";

:root {
  --collor-1: #cb3346;
  --collor-2: #767676;
  --collor-3: #0ea5e9;
  --collor-text-visitor: #ffffff;
  --collor-bg-visitor: black;
  --collor-bg-admin: #ffffff;
  --collor-text-admin: black;
  --collor-bg-input: #e4e4e7;
  --collor-text-input: #47474f;
}

:root[data-theme="admin"] {
  --collor-text: var(--collor-text-admin);
  --collor-bg: var(--collor-bg-admin);
}

:root[data-theme="visitor"] {
  --collor-text: var(--collor-text-visitor);
  --collor-bg: var(--collor-bg-visitor);
}

:root {
  --anim-btn-transition: "transform";
  --anim-btn-duration: 200ms;
  --anim-btn-scale: 1.1;
}

:root {
  --spacing-container-modal: 1.5rem;
  --spacing-padding-input-x: 0.75rem;
  --spacing-padding-input-y: 0.5rem;

  --spacing-section-page-x: 1.5rem;
  --spacing-mobil-section-page-y: 2.5rem;
  --spacing-desktop-section-page-y: 3.5rem;
}

:root {
  --font-family-input: Arial, sans-serif;
}

@layer components {
  .btn-cta {
    @apply text-white inline-flex rounded bg-(--collor-1) px-5 py-1 text-(--collor-text) transition-(--anim-btn-transition) duration-(--anim-btn-duration) disabled:cursor-not-allowed disabled:opacity-60;
  }
  .btn-cta:hover {
    @apply scale-(--anim-btn-scale);
  }

  .btn-type-2 {
    @apply transition-opacity hover:opacity-70;
  }

  .mobil-menu {
    @apply inline-flex rounded bg-(--collor-2) px-2 py-1 text-(--collor-text) transition-(--anim-btn-transition) duration-(--anim-btn-duration);
  }
  .mobil-menu:hover {
    @apply scale-(--anim-btn-scale);
  }

  .modal-overlay {
    @apply fixed inset-0 flex items-center justify-center pt-20 bg-gray-400/30;
  }
  .modal {
    @apply w-4xl rounded-2xl bg-[#fbfbfb] text-[#111111] outline-none pt-3 pb-3;
  }

  .input {
    @apply w-full rounded-md border border-(--collor-text-input) bg-(--collor-bg-input) px-(--spacing-padding-input-x) py-(--spacing-padding-input-y) text-sm placeholder:text-(--collor-text-input);
    font-family: var(--font-family-input);
  }
  .text-area {
    @apply h-56 w-full resize-none rounded-md border border-(--collor-text-input) bg-(--collor-bg-input) px-(--spacing-padding-input-x) py-(--spacing-padding-input-y) text-sm placeholder:text-(--collor-text-input) md:h-44;
    font-family: var(--font-family-input);
  }

  .section-page {
    @apply h-full px-(--spacing-section-page-x) py-(--spacing-mobil-section-page-y) md:py-(--spacing-desktop-section-page-y);
  }
}
